:root{
    --background: #e2d3ef;
    --border-color: #c7b7fc;
    --color: #9985f3;
    --color-1: #f4ecfe;
}
.hero > .head{
    color: var(--color); 
    background: url(../photos/circle-scatter-haikei.svg);
}
.hero > .head > h1{
    font-weight: bold; 
    font-size: 55px;
    padding-top: 25px;
}
.hero .container{
    
    width: auto;
}
h4{
    font-weight: bolder;
}
img{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
/*animations*/
.bounce1{
    display: inline-block;
    animation:  bounce 2s ease-in infinite;
}
@keyframes bounce{
    0%, 50%, 100%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(-7px);
    }
    75%{
        transform: translateY(-5px);
    }
}