:root{
    --background: #e2d3ef;
    --border-color: #c7b7fc;
    --color: #9985f3;
    --color-1: #f4ecfe;
}
.hero > .head{
    color: var(--color); 
    background: url(../photos/circle-scatter-haikei.svg);
}
.hero > .head > h1{
    font-weight: bold; 
    font-size: 50px;
    padding-top: 25px;
}
.hero .container{
    
    width: auto;
}
h5{
    color: purple;
    font-weight: 600;
}
h4{
    font-weight: bolder;
}
code{
    padding: 3px;
    box-shadow: 1px 1px 5px #9985f3;
}
@media (max-width: 500px) {
  table, thead, tbody, th, td, tr {
    display: block;
    width: 100%;
  }
  td {
    border: none;
    padding: 8px 0;
    text-align: left;
  }
}

/*animations*/
.bounce1{
    display: inline-block;
    animation:  bounce 2s ease-in infinite;
}
@keyframes bounce{
    0%, 50%, 100%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(-7px);
    }
    75%{
        transform: translateY(-5px);
    }
}
.head img{
    filter: drop-shadow(0 20px 5px #9985f3);
}