:root{
    --background: #e2d3ef;
    --border-color: #c7b7fc;
    --color: #9985f3;
    --color-1: #f4ecfe;
}
html,body{
    padding: 0;
    margin: 0;
    background: var(--background);
    font-family: Raleway;
}

/*nav*/
.navbar{
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}
.container > a > img{
    width: 35px;
    transition: transform 0.3s ease-in;
}
.container > a > img:hover{
    transform: scale(0.9);
}
.button{
    border: none;
}
.button:focus{
    outline: none;
    box-shadow: none
}
.button .hamburger{
    width: 1.8rem;
    transition: transform 0.3s ease-in;
}
.button .hamburger:hover{
    transform: scale(0.8);
}
.menu > ul > li > a{
    font-weight: bold;
    transition: 0.3s ease-in;
}
.menu > ul > li > .nav-link.active{
    color: var(--color);
    font-weight: bold;
}
.menu > ul > li > a:hover{
    color: var(--color);
}
form > .btn-design{
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    border-bottom: 2px solid black;
    border-radius: 0;
    transition: transform 0.3s ease-in;
}
form > .btn-design > a{
    text-decoration: none;
    color: #000;
}
form > .btn-design:hover{
    transform: scale(0.9);
}
.dropdown > .dropdown-menu{
    width: auto;
    background-color: transparent;
    border: none;
}
.dropdown > .dropdown-menu > a{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    transition: transform 0.3s ease-in;
    background-color: transparent;
}
.dropdown > .dropdown-menu a:hover{
    font-weight: bold;
    border-bottom: 1px solid var(--color);
    transform: scale(0.9);
    color: black;
}

/* hero */
.hero{
    border-left: 5px solid var(--border-color);
    border-right: 5px solid var(--border-color);
    border-top: 5px solid var(--border-color);
    border-bottom: none;
    height: auto;
    width: 97%;
    margin: 70px auto 0 auto;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: none;
    position: relative;
}
.hero .extra{
    z-index: 2;
    width: 18%;
    height: 4.4rem;
    background: var(--background);
    position: absolute;
    right: -4.8px;
    top: -70px;
    border-left: 5px solid var(--border-color);
    border-right: 5px solid var(--border-color);
    border-top: 5px solid var(--border-color);
    border-bottom: none;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
}
.hero .extra::after, .hero .extra::before{
    content: "";
    width: 1rem;
    height: 1rem;
    position: absolute;
}
.extra::after{
    background-color: transparent;
    bottom: 0px;
    left: -16px;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 5px 5px var(--background);
}
.extra::before{
    background-color: transparent;
    bottom: 5px;
    left: -20px;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 4px 4px var(--border-color);
}
/*hero-content*/

.hero-button{
    font-size:20px;
    font-weight: bold;
    transition: transform 0.3s ease-in;
    border: none;
}
.hero-button > a{
    border-radius: none;
    text-decoration: none;
    color: var(--color);
}
.hero-button:hover{
    transform: scale(0.9);
    text-shadow: 2px 2px 7px white;
}

/*main*/
.main{
    margin-top: 5%;
}
#Aboutme{
    padding-top: 11%;
    margin-bottom: 5%;
    font-weight: bolder;
}
.a-con h5{
    font-weight: bold;
}
.a-con1 h5{
    font-weight: bold;
}
.a-icon h5{
    font-weight: bold;
}
.a-icon ul li{
    padding: 1%;
    list-style: none;
    line-height: 1.5;
}
.a-icon i{
    font-size: 25px;
}

#Education{
    padding-top: 10%;
    padding-bottom: 2%;
    font-weight: bolder; 
}
.card{
    background-color: var(--background);
    height: 100%;
    border-left: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
    border-top: none;
    border-bottom: none;
    transition: transform 0.3s ease-in;
}
.card:hover{
    transform: scale(1.1);
    box-shadow: 0px 2px 5px rgb(161, 161, 161);
    cursor: pointer;
}
.card i{
    font-size: 25px;
}
.card .card-title{
    color: #000;
}
.card ul li{
    color: var(--color);
    font-weight: 600;
}
#Contact{
    font-weight: bolder;
    padding-top: 10%;
    padding-bottom: 3%;   
}
.cont1{
    border-left: 5px solid var(--color);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.cont .btn{
    transition: transform 0.3s ease-in;
    border: 3px solid var(--color);
    border-top: none;
    border-bottom: none;
    border-radius: 25px;
}
.cont .btn a{
    text-decoration: none;
    color: #000;
} 
.cont .btn:hover{
    transform: scale(0.9);
}

/*footer*/
.social > h6{
    font-weight: bold;
}
.social-link > a{
    margin: 0 0 40px 40px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.social-link > a:hover{
    color: var(--color-1);
}
.social-link > a > i{
    transition: transform 0.3s ease-in;
}
.social-link > a > i:hover{
    transform: scale(1.3);
}
.f-logo > h6 > a{
    text-decoration: none;
    color: black;
    
}
.f-logo > h6 > a > img{
    width: 100px;
    transition: transform 0.3s ease-in;
}
.f-logo > h6 > a > img:hover{
    transform: scale(0.8);
}
.f-logo > p{
    font-size: 16px;
}
.f-menu > h6{
    font-weight: bold;
}
.f-menu > p > a{
    text-decoration: none;
    font-size: 16px;
    color: var(--color);
    transition: 0.3s ease-in-out;
}
.f-menu > p > a:hover{
    color: var(--color-1);
    
}
.f-link > h6{
    font-weight: bold;
}
.f-link > p > a{
    font-size: 30px;
}
.f-link > p > a > i{
    color: var(--color);
    transition: 0.3s ease-in-out;
}
.f-link > p > a > i:hover{
    color: var(--color-1);
}